:root {
  --pcolor: #f70303;
}
body {
  background: rgb(248, 240, 214);
}

#body-soda {
  width: 150px;
}
.navbar {
  display: block;
  margin-left: 12em;
}
.primary-nav {
  margin-left: em;
}
.current {
  text-decoration: none;
}

.title {
  margin-top: 0em;
  margin-left: 0.2em;
  text-decoration: none;
  color: rgb(67, 14, 136);
  font-size: 2em;
  font-weight: bolder;
}

span {
  color: var(--pcolor);
}

.primary-nav {
  margin-left: -25em;
}

/*Nav*/
nav {
  margin-left: 12em;
}

.left-col {
  margin-left: 8em;
  margin-top: -2em;
}
.bodysoda {
  display: block;
  font-size: medium;
  color: rgb(121, 80, 88);
  margin-bottom: 0;
  font-weight: bolder;
  margin-top: -4.5em;
  margin-left: 3.7em;
}
.quest {
  margin-top: 1em;
  font-size: large;
  color: var(--pcolor);
  font-weight: bolder;
  margin-left: 1em;
}

#guess-id {
  width: 150px;
  margin-left: 4em;
}

.score {
  margin-top: -1em;
  font-size: large;
  color: var(--pcolor);
  font-weight: bold;
  margin-left: 6em;
}

.hscore {
  margin-top: -1em;
  font-size: large;
  color: var(--pcolor);
  font-weight: bold;
  margin-left: 3.6em;
}

.chances {
  width: 25px;
  text-align: center;
  color: green;
  font-weight: bolder;
}
.answer-box {
  text-align: center;

  font-weight: bolder;
  align-items: center;
}
.ans {
  width: 25px;
  text-align: center;
  color: green;
  font-weight: bolder;
}

.life {
  margin-left: 7em;
}
.won {
  text-decoration: none;
  margin-top: -1em;
  font-size: large;
  color: var(--pcolor);
  font-weight: bold;
  margin-left: 2em;
}
.skip {
  text-decoration: none;
  margin-top: -1em;
  font-size: large;
  color: var(--pcolor);
  font-weight: bold;
  margin-left: 2em;
}

.hint {
  text-decoration: none;

  margin-top: -1em;
  font-size: large;
  color: rgba(6, 95, 179, 0.842);
  font-weight: bold;
  margin-left: -4em;
}
@media screen and (max-width: 412px) {
  .intro {
    margin-left: -5em;
  }

  .navbar {
    margin-left: 6.5em;
  }

  .submitform {
    margin-left: -5em;
  }
}

#submit-box {
  margin-left: 15em;
}

@media screen and (min-width: 768px) {
  #submit-box {
    margin-left: 6em;
    /*width: 200px;
    font-size: medium;
    text-transform: uppercase;*/
  }
  #body-soda {
    width: 150px;
  }
  .navbar {
    display: block;
    margin-left: 38em;
  }
  .primary-nav {
    margin-left: 0;
  }
  .current {
    text-decoration: none;
  }

  .title {
    margin-top: 0em;
    margin-left: 0em;
    text-decoration: none;
    color: rgb(67, 14, 136);
    font-size: 2em;
    font-weight: bolder;
  }

  span {
    color: var(--pcolor);
  }

  .primary-nav {
    margin-left: 95em;
  }

  /*Nav*/
  nav {
    margin-left: 45em;
  }

  .left-col {
    margin-left: 35em;
    margin-top: -2em;
  }
  .bodysoda {
    display: block;
    font-size: medium;
    color: rgb(121, 80, 88);
    margin-bottom: 0;
    font-weight: bolder;
    margin-top: -4.5em;
    margin-left: 2.3em;
  }
  .quest {
    margin-top: 1em;
    font-size: large;
    color: var(--pcolor);
    font-weight: bolder;
    margin-left: -2em;
    text-transform: uppercase;
  }

  #guess-id {
    width: 150px;
    margin-left: 4em;
  }

  .score {
    margin-top: -1em;
    font-size: large;
    color: var(--pcolor);
    font-weight: bold;
    margin-left: -5em;
  }

  .hscore {
    margin-top: -2em;
    font-size: large;
    color: var(--pcolor);
    font-weight: bold;
    margin-left: 15em;
  }

  .chances {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 2.4em;
    color: green;
    font-weight: 700;
    font-size: x-large;
  }
  .answer-box {
    text-align: center;

    font-weight: bolder;
    align-items: center;
  }

  .ans-div {
    text-align: center;

    font-weight: bolder;
    align-items: center;
  }
  .ans {
    width: 25px;
    height: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }

  .life {
    margin-left: 15em;
  }
  .won {
    text-decoration: none;
    margin-top: 0em;
    font-size: 1.5em;
    color: var(--pcolor);
    font-weight: bold;
    margin-left: -2em;
  }
  .skip {
    text-decoration: none;
    margin-top: -1em;
    font-size: large;
    color: var(--pcolor);
    font-weight: bold;
    margin-left: 2em;
  }

  .hint {
    text-decoration: none;
    margin-left: -8em;
    margin-top: -1em;
    font-size: large;
    color: rgba(6, 95, 179, 0.842);
    font-weight: bold;
  }
}
